

:root {
    --athens-gray: #e4e4eb;
    --jaffa: #f07932;
    --bali-hai: #8292af;
    --gold-sand: #ebb997;
    --mandys-pink: #f3d1bc;
    --petite-orchid: #e0919b;
    --ziggurat: #b2d1dc;
    --ziggurat-light: #c4e3e6;
    --illusion: #f4afcf;
}



body {
    font-family: 'Arial', sans-serif;
    color: black;
    background-color: white;
    font-size: 120%; /* Aumenta a fonte em 20% */
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: underline;
}

/* Estilo geral para todos os botões */
.btn, .btn-secondary, .btn-danger {
    display: inline-block;
    padding: 10px 20px; /* Padroniza o preenchimento */
    min-width: 100px; /* Largura mínima para todos os botões */
    height: 40px; /* Altura fixa para todos os botões */
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 100%; /* Ajuste o tamanho da fonte se necessário */
}

/* Estilo para botões primários com efeito de hover */
.btn {
    background-color: var(--jaffa);
    color: white;
}

.btn:hover {
    background-color: var(--gold-sand);
}

/* Estilo para botões secundários com efeito de hover */
.btn-secondary {
    background-color: var(--mandys-pink);
}

.btn-secondary:hover {
    background-color: var(--petite-orchid);
}

/* Estilo para botões perigosos com efeito de hover */
.btn-danger {
    background-color: var(--illusion);
    color: black;
}

.btn-danger:hover {
    background-color: var(--ziggurat);
}

.expanded-table {
    max-width: 100%; /* Aumenta a largura máxima para ocupar a tela inteira */
    padding: 0 15px; /* Adiciona um pouco de preenchimento nas laterais */
}

.table-auto th, .table-auto td {
    text-align: center;
    font-size: 120%; /* Aumenta a fonte em 20% */
}


.rodape {
    background-color: var(--bali-hai);
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.table-auto a {
    color: black;
}

.table-auto a:hover {
    color: var(--illusion);
    text-decoration: none;
}

.table-auto tbody tr:nth-child(odd) {
    background-color: var(--athens-gray);
}

.table-auto tbody tr:hover {
    background-color: var(--ziggurat-light);
}

.table-auto thead th {
    background-color: var(--jaffa);
    color: white;
    padding: 10px 0;
    border-bottom: 2px solid var(--gold-sand);
}

.container {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    max-width: 100%;
    margin: 40px auto;
}

.container-botao {
    max-width: 100%; /* Largura máxima */
    padding: 0 15px; /* Adiciona um pouco de preenchimento nas laterais */
    margin: 30px auto; /* Centraliza e adiciona margem acima e abaixo */
    margin-left: 90px;
}

input[type=text], input[type=date], select, button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    
button {{
    background-color: var(--jaffa);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    
 


    button:hover {
        background-color: var(--gold-sand);
    }
    
    .cabecalho {
        background-color: var(--jaffa);
        color: white;
    }
    
    .botao-dashboard {
        background-color: var(--ziggurat-light);
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        text-decoration: none;
        display: inline-block;
    }

    /* Estilo para botões de ação com fundo branco e texto laranja */
.btn-acao {
    background-color: white;
    color: var(--jaffa); /* Cor laranja já definida */
    border: 1px solid var(--jaffa); /* Bordas na mesma cor para destaque */
}

/* Estilo para o hover dos botões de ação */
.btn-acao:hover {
    background-color: var(--jaffa); /* Fundo laranja no hover */
    color: white; /* Texto branco no hover */
}

/* Estilo para os ícones dentro dos botões */
.btn-acao i {
    color: inherit; /* Para garantir que o ícone mude de cor junto com o texto */
}

@media (max-width: 600px) {
    body {
        font-size: 100%; /* Tamanho da fonte ajustado para telas menores */
    }

    .container {
        padding: 10px; /* Padding reduzido para economizar espaço */
        margin: 20px auto;
    }

    .container-botao {
        padding: 10px; /* Padding reduzido para economizar espaço em telas menores */
    }

    .table-auto {
        display: block;
        overflow-x: auto; /* Adiciona rolagem horizontal */
        white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    }

    .table-auto th, .table-auto td {
        font-size: 90%; /* Reduz o tamanho da fonte para caber mais conteúdo */
        padding: 8px; /* Espaçamento interno ajustado */
    }


    .btn, .btn-secondary, .btn-danger {
        padding: 8px 15px; /* Reduz o tamanho do padding dos botões */
        font-size: 90%; /* Tamanho da fonte dos botões ajustado */
        min-width: 80px; /* Largura mínima dos botões reduzida */
        height: 35px; /* Altura dos botões reduzida */
    }

    .cabecalho, .rodape {
        padding: 10px 0; /* Padding vertical reduzido para cabeçalho e rodapé */
        text-align: center; /* Alinhamento centralizado do texto */
    }

    .btn-acao {
        font-size: 90%; /* Tamanho da fonte dos botões de ação ajustado */
        padding: 8px 15px; /* Padding dos botões de ação ajustado */
    }

    .btn-acao i {
        font-size: 1em; /* Tamanho do ícone nos botões de ação ajustado */
    }
}

    
}



/* C:\laragon\www\public_html\areaDoCliente\public\css\styles.css