@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

:root {
    --primary-orange: #ef8f24;
    --dark-orange: #d86608;
    --custom-yellow: #ffc700;
    --15-grey: #d8d8d8;
    --30-grey: #b2b2b2;
    --50-grey: #7f7f7f;
    --70-grey: #4c4c4c;
    /* ... outros estilos ... */
}


html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    /* Igual à altura do rodapé */
    margin-bottom: -50px; 
}

.wrapper:after {
    content: "";
    display: block;
    height: 50px; /* Altura do rodapé */
}

.rodape {
    height: 50px;
    background-color: #333; /* Ou a cor que preferir */
    color: white;
    text-align: center;
    line-height: 50px; /* Centraliza verticalmente o texto no rodapé */
}


/* C:\laragon\www\public_html\areaDoCliente\resources\css\app.css */